<nav>
	<a href="{{path('app_home')}}" class="nav-icon" aria-label="homepage" aria-current="page">
		<img src="{{ asset('img/logo-no-background.png')}}" alt="chat icon"/>
	</a>

	<div class="main-navlinks">
		<button type="button" class="hamburger" aria-label="Toggle Navigation" aria-expanded="false">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div class="navlinks-container">
			<div>
			<a href="{{ path('app_trajets')}}">
				<i class="fas fa-solid fa-eye"></i>
				Trajets
			</a>
			</div>

		</div>
	</div>
	{% if not app.user %}
	<div class="nav-authentication">
		<div class="sign-btns">
			<div class="div-connexion">
				<a class="lien-connexion" href="{{ path('app_login')}}">Connexion</a>
			</div>
			<div class="div-inscription">
				<a class="lien-inscription" href="{{ path('app_register')}}">Inscription</a>
			</div>
		</div>
	</div>
	{% endif %}

	{% if app.user %}
	<div class="nav-authentication">
		<div class="sign-btns">
			<div class="div-connexion">
				<a class="lien-connexion" href="{{ path('app_logout')}}">Se déconnecter</a>
			</div>
			<div class="div-inscription">
				<a class="lien-inscription" href="{{ path('app_dashboard')}}">Profil</a>
			</div>
		</div>
	</div>
	{% endif %}
</nav>
<div class="empty"></div>
