{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>
			<i class="fas fa-user-circle"></i>
			Profil de l'utilisateur</h1>
		<hr>

		<div class="card">
			<div class="card-body">
				<h3 class="card-title">
					<i class="fas fa-info-circle"></i>
					Informations personnelles</h3>

				<div class="row">
					<div class="col-md-6">
						<strong>
							<i class="fas fa-user"></i>
							Nom :</strong>
						{{ app.user.lastName }}
					</div>
					<div class="col-md-6">
						<strong>
							<i class="fas fa-user"></i>
							Prénom :</strong>
						{{ app.user.firstName }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<strong>
							<i class="fas fa-envelope"></i>
							Email :</strong>
						{{ app.user.email }}
					</div>
					<div class="col-md-6">
						<strong>
							<i class="fas fa-phone"></i>
							Téléphone :</strong>
						{{ app.user.phone }}
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">
					<i class="fas fa-car"></i>
					Voitures</h3>
				<a href="{{ path('app_add_car') }}" class="btn btn-primary mb-3">Ajouter une voiture</a>
				<table class="table">
					<thead>
						<tr>
							<th>
								<i class="fas fa-car"></i>
								Marque</th>
							<th>
								<i class="fas fa-car"></i>
								Modèle</th>
							<th>
								<i class="fas fa-chair"></i>
								Places disponibles</th>
						</tr>
					</thead>
					<tbody>
						{% for car in app.user.cars %}
							<tr>
								<td>{{ car.brand }}</td>
								<td>{{ car.model }}</td>
								<td>{{ car.seats }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<hr>

		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">
					<i class="fas fa-list"></i>
					Règles</h3>
					<a href="{{ path('app_add_rule') }}" class="btn btn-primary mb-3">Ajouter une règle</a>
				<ul>
					{% for rule in app.user.rules %}
						<li>{{ rule.name }}
							-
							{{ rule.description }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<hr>

		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">
					<i class="fas fa-road"></i>
					Trajets</h3>
					<a href="{{ path('app_add_ride') }}" class="btn btn-primary mb-3">Ajouter un trajet</a>
				<table class="table">
					<thead>
						<tr>
							<th>
								<i class="fas fa-flag"></i>
								Départ</th>
							<th>
								<i class="fas fa-flag-checkered"></i>
								Destination</th>
							<th>
								<i class="fas fa-chair"></i>
								Places disponibles</th>
							<th>
								<i class="fas fa-money-bill-wave"></i>
								Prix</th>
							<th>
								<i class="fas fa-calendar-alt"></i>
								Date</th>
						</tr>
					</thead>
					<tbody>
						{% for ride in app.user.rides %}
							<tr>
								<td>{{ ride.depart }}</td>
								<td>{{ ride.destination }}</td>
								<td>{{ ride.seats }}</td>
								<td>{{ ride.price }}
									€</td>
								<td>{{ ride.date.format('m-d') }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
